<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.appfinanzas">

    <uses-permission android:name="android.permission.INTERNET" /> <!-- Solo por si se requiere en un futuro -->

    <application
        android:name=".FinanceApp"
        android:allowBackup="true"
        android:icon="@drawable/ic_add"
        android:label="AppFinanzas"
        android:roundIcon="@drawable/ic_add"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppFinanzas">
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/Theme.AppFinanzas">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".ui.QuickAddTileService"
            android:exported="true"
            android:icon="@drawable/ic_add"
            android:label="Añadir Gasto"
            android:permission="android.permission.BIND_QUICK_SETTINGS_TILE">
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE" />
            </intent-filter>
        </service>
    </application>

</manifest>
